.header{
    display:flex;
    justify-content: row;


}

.header .headline{
    font-size: 18px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    gap: 20px;
    list-style-type:none;
    border: 5px solid darkblue;
    flex: 1 1 auto;
    background-color: darkblue;
    color:azure;
    margin: 0px;
    margin-right:-15px;
    padding-bottom: 10px;
    margin-bottom: -18px;
    
}

.header ul :last-child{
    margin-right: 10px;

}

a{
    text-decoration: none;
    color: aliceblue;
}
.logo {
    font-size: 22px;
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin-right: auto;
    margin-left: -20px;
}

.ballpic{
    width:350px;
    height:auto;

}
.picture ul{
    display: flex;
    flex:auto;
    justify-content: center;
    background-color: darkblue;
    color: white;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    height: 400px;
    flex-wrap: wrap;
    list-style-type:none;
    width: 400px;
    padding-right: 422px;
    margin-top: 15px;
    gap: 20px;
}

.pic-text ul{
    font-size: 20px;
    display:flex;
    flex-direction: column;
}
.picture ul :first-child{
    font-size: 55px;

}
.picture ul :nth-child(2){
    font-size: 16px;
    color:beige;

}
/*
.picteure ul :last-child{
    padding-right:20px;

}
*/
#signup{
    background-color: blue;
    font-size: 25px;
    border-radius: 8px;
    padding: 5px;

}


.picture ul last-child{
    padding-top: 300px;
    
 
   
    
}

.photostitle{
    font-size: 50px;
    font-weight: 900px;
    display: flex;
    margin-top: -50px;
    margin-bottom: -20px;
    align-items: center;
    justify-content: center;
}

.photos ul{
    display: flex;
    justify-content: space-around;
    margin-left:-40px;
}

.item{

    display: table;
}

.item img{
    width: 150px;
    height: 150px;
    border: 5px solid darkblue;
    border-radius: 20px;
    
}

.caption{
    display: table-caption;
    caption-side: bottom;
    font-size: 16px;
}

.testimonial ul{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    background-color: lightblue;
    padding-right:30px;
    margin-right: -14px;
}

.testimonial ul :first-child{
    font-style: italic;
    margin-right: 20px;
    margin-left: 10px;
}

.testimonial ul :last-child{
    font-style: bold;
    font-weight: 600;
    margin-left: auto;
}

.action ul{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(87, 87, 161);
    color:aliceblue;
    border-color:blue;
    border-radius: 6px;
    padding: 10px;
    padding-left: 0px;
    margin-left:  50px;
    margin-right: 40px;
}

.recruit ul{
    display: flex;
    flex-direction:  column;
    align-items: flex-start;
    margin-left: 0px

}

.recruit ul :first-child{
    font-size: 20px;
    font-weight: 600;
}

.action ul button{
    background-color: rgb(87, 87, 161);
    border-radius: 7px;
    border-color: beige;
    color: white;
    font-size: 16px;
    padding-left:10px;
    padding-right: 10px;
}